* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 95%);
}
main {
  margin: auto;
  display: flex;
  width: 50%;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 30px;
  font-family: lexend deca;
  font-weight: 400;
}
h3 {
  color: hsl(0, 0%, 95%);
  margin-top: 30px;
  font-family: lexend deca;
  font-weight: 400;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  width: 33.3333333333%;
  padding: 30px;
}
.suvs {
  background-color: hsl(184, 100%, 22%);
  width: 33.3333333333%;
  padding: 30px;
}
.luxurys {
  background-color: hsl(179, 100%, 13%);
  width: 33.3333333333%;
  padding: 30px;
}

#btn1 {
  color: hsl(31, 77%, 52%);
}
#btn2 {
  color: hsl(184, 100%, 22%);
}
#btn3 {
  color: hsl(179, 100%, 13%);
}
button {
  margin-top: 60px;
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 20px;
  text-align: center;
  width: 100px;
  height: 30px;
  font-family: lexend deca;
  font-weight: 400;
  cursor: pointer;
}
#btn1:hover {
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
}
#btn2:hover {
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
}
#btn3:hover {
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
}
